.App {
  text-align: center;
  overflow-y: hidden;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  background: url("./Asset\ 1.svg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carda{
  height: 85vh;
  border-radius: 30px;
  width: 90vw;
  box-shadow: 0px 0px 90px 0px rgba(0,0,0,0.5);
  background: white ;
  overflow-y: scroll;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.carda::-webkit-scrollbar {
  display: none;
}

.content{
  width: 50vw;
}