.App {
  text-align: center;
  overflow-y: hidden;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  background: url("./Asset\ 1.svg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carda{
  height: 85vh;
  border-radius: 30px;
  width: 90vw;
  box-shadow: 0px 0px 90px 0px rgba(0,0,0,0.5);
  background: white ;
  overflow-y: scroll;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.carda::-webkit-scrollbar {
  display: none;
}

.content{
  width: 50vw;
}
.itemContent{
  width: 85vw;
  height: 40vh;
  padding: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listt{
  padding-top: 100vh;
  padding-bottom: 5vh;
}
.Itemss{
  border-radius: 50px;
  margin: 1vh;
  border: 0px;
  box-shadow: 0px 0px 5000px 0px rgba(0,0,0,0.1);
}
.ItemImg{
  height: 25vh;
  width: 9vw;
  border-radius: 30px;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.itemName{
  display: flex;
  justify-content: center;
}
.itemDesc{
  display: flex;
  justify-content: center;
}
.itemQty{
  display: flex;
  justify-content: center;
}

.cart{
  width: 70vw;
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1vh;
  z-index: 1;
  border-radius: 30px;
}
.cart h1{
  color: black;
}